html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

*:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #2B84FF;
}

#wrapper, #entries {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    color: #16697A;
    text-align: center;
    margin-bottom: 40px;
}

#entryForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
    margin: 0 0 30px 0;
}

.entry-textbox {
    background-color: #FFA62B;
    border-radius: 4px;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
}

#entryForm .button {
    width: 100%;
    max-width: 150px;
    align-self: flex-end;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
}

#entries {
    background-color: #16697A;
    color: #EDE7E3;
    border-radius: 4px;
    padding: 15px;
    max-width: 370px !important; 
}

.entries-nav {
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.entry-button {
    margin: 0 5px;
}

.entry-button:hover {
    cursor: pointer;
}

.entry-button:first-child {
    margin: 0 5px 0 0;
}

.entry-button:last-child {
    margin: 0 0 0 5px;
}