html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

*:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #2B84FF;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    color: #16697A;
    text-align: center;
    margin-bottom: 40px;
}

#entryForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
}

.entry-textbox {
    background-color: #FFA62B;
    border-radius: 4px;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
}

#entryForm .button {
    width: 100%;
    max-width: 150px;
    align-self: flex-end;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
}